r-type_server
r-type_client
tests/r-type_server_test
tests/r-type_client_test
r-type_admin-panel
build/
cmakedeps_macros.cmake
CMakePresets.json
conan_toolchain.cmake
conanbuild.bat
conanbuildenv-release-x86_64.bat
conandeps_legacy.cmake
conanrun.bat
conanrunenv-release-x86_64.bat
deactivate_conanbuild.bat
deactivate_conanrun.bat
conanbuild.sh
conanbuildenv-release-x86_64.sh
conanrun.sh
conanrunenv-release-x86_64.sh
deactivate_conanbuild.sh
deactivate_conanrun.sh
r-type_client.exe
r-type_server.exe
r-type_client_test.exe
r-type_server_test.exe
r-type_admin-panel.exe
venv/
opengl*
opengl_system-config-version.cmake
opengl_systemTargets.cmake
opengl_system-Target-release.cmake
opengl_system-release-x86_64-data.cmake
opengl_system-config.cmake
.vscode/
CMakeUserPresets.json
